
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.span-name{
    font-family: 'Varela Round';
}
section{
    background-image: url("./assets/thang-xam-go-vap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}